<div class="container-fluid footer pt-5 pb-5">
    <div class="row footer1">
      <div class="col-12 col-md-4">
        <img src="{{info.logo.url}}" alt="">
        <h4>creating something iconic</h4>
      </div>
      <div class="col-12 col-md-4">
        <h3>useful links</h3>
        <ul class="list-unstyled">
          <li><a href="">home</a></li>
          <li><a href="">meals</a></li>
          <li><a href="">contact</a></li>
          <li><a href="">terms and conditions</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h3>connect with us</h3>
        <ul class="list-unstyled">
          <li class="list-inline-item"><i class='bx bxl-facebook-circle'></i></li>
          <li class="list-inline-item"><i class='bx bxl-instagram-alt'></i></li>
          <li class="list-inline-item"><i class='bx bxl-twitter'></i></li>
          <li class="list-inline-item"><i class='bx bxl-tiktok'></i></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row footer2">
      <p class="text-center">&copy;2022 all rights reserved|crafted by portiaogbuja</p>
    </div>
  </div>